body{
  font-family:"montserrat";
  font-size: 13px;
  background-image: url("images/dandelions_bg.jpg");
}

.products-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 10px;
  justify-content: space-between;
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0;
  text-align: center;
}

.product-item {
  background-color: rgb(235, 229, 235); 
  padding: 20px; 
  padding-left: 12px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.toggle-btn {
  font-family: "Montserrat", sans-serif;
  background-color: #1b15d4; 
  color: #F7F7FA;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 35px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-btn.active {
  background-color: #eaee07; 
  color: #a50bf1;
}